<!DOCTYPE html>
<html>
<head>
	<title>
	<% if(data){ %>
		<%=data.title%>
	<% } %>		
	</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<%- partial('partials/header')%>
<%- body -%>
</body>
</html>