body {margin:0; paddong:0;}

.side {background: #66bb6a; height: 100vh; margin-bottom: 0;}
.side a {color:#FFF;}

.form-create input[type=text] {border: 1px solid #DCDCDC; padding:0 15px; width:90%;}
.form-create textarea {border: 1px solid #DCDCDC; padding: 15px;}
.form-create textarea[name=description] {height: 100px;}
.form-create textarea[name=text] {min-height: 300px;}