<div class="col m3 l2 side">
		<ul>
			<li><a href="/panel/pages"><i class="material-icons left">content_copy</i>Pages</a></li>
			<li><a href="/panel/products"><i class="material-icons left">widgets</i>Products</a></li>
			<li><a href="/panel/categories"><i class="material-icons left">format_list_numbered</i>Products categories</a></li>
		</ul>	
	</div>