<% layout('../layout') -%>

<div class="row">
	<%- partial('../partials/left')%>
	<div class="col m9 l10 form-create">
		<form method="POST">
			<div class="input-field col s12 m6">
				<input type="text" name="name" placeholder="Name">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="title" placeholder="Title">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="url" placeholder="URL">
			</div>
			<div class="input-field col s12 m6">
				<select class="browser-default" name="category">
					<option value="">-- выбрать категорию --</option>
					<% categories.forEach(function(category){ %>
						<option value="<%=category.name%>"><%=category.name%></option>
					<% }); %>
				</select>
			</div>
			<div class="input-field col s12">
				<textarea name="description" placeholder="Description"></textarea>
			</div>
			<div class="input-field col s12">
				<textarea name="text" placeholder="Body"></textarea>
			</div>
			<div class="input-field col s12 m9">
				<input type="text" name="price" placeholder="Price">
			</div>
			<div class="input-field col s12 m3 right-align">
				<button type="submit" class="btn btn-orange">Save page</button>
			</div>	
		</form>
	</div>
</div>