<div class="col m3 l2 side">
		<ul>
			<li><a href="/panel/pages">Страницы</a></li>
			<li><a href="/panel/products">Товары</a></li>
			<li><a href="/panel/categories">Категории товаров</a></li>
			<li><a href="/panel/orders">Заказы</a></li>
		</ul>	
	</div>